<!--
    This launch file starts all communication needed in order to control and localize the bot.
    I.e. the raw data comms to the Low Level Board, the GPS, etc.
-->
<launch>
    <!-- TODO: Add parameter for simulation -->

    <node pkg="mower_comms" type="mower_comms" name="mower_comms" unless="$(optenv OM_NO_COMMS False)" output="screen">
        <rosparam unless="$(eval optenv('OM_EXT_COMMS_PARAMS')!='')" file="$(find open_mower)/params/hardware_specific/$(env OM_BODY)/comms_params.yaml"/>
        <rosparam if="$(eval optenv('OM_EXT_COMMS_PARAMS')!='')" file="$(env PARAMS_PATH)/$(env OM_EXT_COMMS_PARAMS)"/>
        <param name="wheel_radius_m" value="$(env OM_WHEEL_RADIUS_M)"/>
        <param name="wheel_separation_m" value="$(env OM_WHEEL_SEPARATION_M)"/>
        <!-- base_link right hand rule -->
        <!-- param name="imu_accel_axes" value="+y+x-z" /-->
        <!-- param name="imu_gyro_axes" value="+y-x-z" /-->
        <param name="mower_esc_enabled" value="$(env OM_ENABLE_MOWER)"/>
    </node>

    <node pkg="mower_comms" type="antislip" name="antislip" output="screen">
      <remap from="~imu_in" to="/imu/data_raw"/>
      <remap from="~twist_in" to="/mower/measured_vel"/>
      <!--remap from="~odom3d_in" to="/xbot_positioning/odom_3d_out"/-->
    </node>

    <!-- Choose-one US slowdown: both nodes publish /uss_vel (twist_mux prio 70).
         uss_slowdown_use_costmap=true  -> new costmap/TTC-based node (default)
         uss_slowdown_use_costmap=false -> old raw-range node -->
    <node pkg="mower_comms" type="uss_slowdown_costmap" name="uss_slowdown_costmap" output="screen">
      <param name="ttc_threshold" value="1.0"/>
      <param name="stop_distance" value="0.20"/>
      <param name="min_speed"     value="0.03"/>
    </node>
    <!--node unless="$(arg uss_slowdown_use_costmap, default=true)" pkg="mower_comms" type="uss_slowdown" name="uss_slowdown" output="screen">
      <param name="uss_front_slowdown_percent" value="0.75"/>
      <param name="uss_side_slowdown_percent"  value="0.50"/>
      <param name="uss_front_stop_distance"    value="0.20"/>
      <param name="uss_side_stop_distance"     value="0.15"/>
      <param name="uss_average_threshold"      value="1.0"/>
      <param name="uss_average_coef"           value="218"/>
      <param name="uss_occ_range"              value="1.0"/>
      <param name="uss_occ_inc"                value="50"/>
      <param name="uss_occ_decay"              value="0.9"/>
      <param name="uss_occ_threshold"          value="50"/>
    </node-->
    
    <include file="$(find open_mower)/launch/include/_$(env OM_DRIVE_ESC_TYPE).launch" />

    <include file="$(find open_mower)/launch/include/_gps.launch" unless="$(optenv OM_NO_GPS False)"/>

</launch>
