<launch>
    <rosparam file="$(find open_mower)/params/hardware_specific/$(env OM_BODY)/drive4x4.yaml" command="load" subst_value="true"/>
    <rosparam file="$(find open_mower)/params/hardware_specific/$(env OM_BODY)/hoverboard4x4.yaml" command="load" subst_value="true"/>
    <!-- load yaml here to override default -->
    <rosparam if="$(eval optenv('OM_EXT_DRIVE_PARAMS')!='')" file="$(env PARAMS_PATH)/$(env OM_EXT_DRIVE_PARAMS)" command="load" subst_value="true"/>

    <group ns="front">
        <remap from="/front/velocity_controller/cmd_vel" to="/cmd_vel_safe"/>
        <node name="hoverboard_driver" pkg="hoverboard_driver" type="hoverboard_driver" output="screen"/>
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
            args="joint_publisher velocity_controller" />
    </group>
    <group ns="rear">
        <remap from="/rear/velocity_controller/cmd_vel" to="/cmd_vel_safe"/>
        <node name="hoverboard_driver" pkg="hoverboard_driver" type="hoverboard_driver" output="screen"/>
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
            args="joint_publisher velocity_controller" />
    </group>

</launch>
