<launch>
    <rosparam file="$(find open_mower)/params/hardware_specific/CUSTOM/hoverboard.yaml" command="load"/>
    <!-- load yaml here to override default -->
    <rosparam file="$(env HOME)/mower_params/hoverboard.yaml" command="load" subst_value="true"/>

    <group ns="front">
        <remap from="/front/hoverboard_velocity_controller/cmd_vel" to="/cmd_vel_safe"/>
        <node name="hoverboard_driver" pkg="hoverboard_driver" type="hoverboard_driver" output="screen"/>
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
            args="hoverboard_joint_publisher hoverboard_velocity_controller" />
    </group>
    <group ns="rear">
        <remap from="/rear/hoverboard_velocity_controller/cmd_vel" to="/cmd_vel_safe"/>
        <node name="hoverboard_driver" pkg="hoverboard_driver" type="hoverboard_driver" output="screen"/>
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
            args="hoverboard_joint_publisher hoverboard_velocity_controller" />
    </group>

</launch>