<launch>
    <group ns="front">
        <remap from="/front/hoverboard_velocity_controller/cmd_vel" to="/cmd_vel_safe"/>
        <include file="$(find hoverboard_driver)/launch/hoverboard.launch" />
    </group>
    <group ns="rear">
        <remap from="/rear/hoverboard_velocity_controller/cmd_vel" to="/cmd_vel_safe"/>
        <include file="$(find hoverboard_driver)/launch/hoverboard.launch" />
    </group>
    <rosparam unless="$(eval env('OM_MOWER')=='CUSTOM')" file="$(find open_mower)/params/hardware_specific/CUSTOM/hoverboard.yaml" command="load"/>
    <!-- load yaml here to override default -->
    <rosparam if="$(eval env('OM_MOWER')=='CUSTOM')" file="$(env HOME)/mower_params/hoverboard.yaml" command="load"/>
    <!--include file="$(find hoverboard_driver)/launch/4x4.launch"/-->

    <!--rosparam file="$(find open_mower)/params/hoverboard4x4_controllers.yaml" command="load"/>
    <node name="hoverboard4x4_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="hoverboard4x4_velocity_controller">
        <remap from="/hoverboard4x4_velocity_controller/cmd_vel" to="/cmd_vel_safe"/>
    </node-->
    <!--include file="$(find hoverboard_driver)/launch/hoverboard.launch" /-->

    <!-- Simple 2 weel mode -->

    <!--rosparam file="$(find hoverboard_driver)/config/hardware.yaml" command="load"/>
    <rosparam file="$(find hoverboard_driver)/config/controllers.yaml" command="load"/>
    <node name="hoverboard_driver" pkg="hoverboard_driver" type="hoverboard_driver" output="screen"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="hoverboard_joint_publisher hoverboard_velocity_controller" />
    <remap from="/hoverboard_velocity_controller/cmd_vel" to="/cmd_vel_safe"/-->
</launch>