<launch>
    <rosparam file="$(find open_mower)/params/hardware_specific/$(env OM_BODY)/drive4x4.yaml" command="load" subst_value="true"/>
    <rosparam file="$(find open_mower)/params/hardware_specific/$(env OM_BODY)/odrive4x4.yaml" command="load" subst_value="true"/>

    <!-- load yaml here to override default -->
    <rosparam if="$(eval optenv('OM_EXT_DRIVE_PARAMS')!='')" file="$(env PARAMS_PATH)/$(env OM_EXT_DRIVE_PARAMS)" command="load" subst_value="true"/>

    <!--node name="odrive_can" pkg="odrive_can" type="odrive_can_node"_odrive_can4x4 output="screen"
        respawn="true" respawn_delay="2.0"/-->

    <!-- CAN communication + hardware interface + control loop -->
    <node name="odrive_driver" pkg="odrive_ros_control" type="odrive_ros_control_node"
        respawn="true" output="screen">
        <remap from="/front/velocity_controller/cmd_vel" to="/cmd_vel_safe"/>
        <remap from="/rear/velocity_controller/cmd_vel"  to="/cmd_vel_safe"/>
    </node>

    <node name="controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen"
        args="/front/joint_publisher /front/velocity_controller
              /rear/joint_publisher  /rear/velocity_controller"/>
</launch>