<launch>
    <rosparam file="$(find open_mower)/params/hardware_specific/$(env OM_MOWER)/odrive.yaml" command="load" subst_value="true"/>
    <!--rosparam file="$(env PARAMS_PATH)/odrive.yaml" command="load" subst_value="true"/-->

    <!-- Single CAN node serving all 4 axes on can0 -->
    <node name="odrive_can" pkg="odrive_can" type="odrive_can_node" output="screen"/>

    <group ns="front">
        <remap from="/front/hoverboard_velocity_controller/cmd_vel" to="/cmd_vel_safe"/>
        <node name="joint_state_spawner" pkg="controller_manager" type="spawner"
            respawn="false" output="screen"
            args="front_joint_publisher"/>
        <node name="controller_spawner" pkg="controller_manager" type="spawner"
            respawn="false" output="screen"
            args="front_velocity_controller --wait-for front_joint_publisher"/>
    </group>

    <group ns="rear">
        <remap from="/rear/hoverboard_velocity_controller/cmd_vel" to="/cmd_vel_safe"/>
        <node name="joint_state_spawner" pkg="controller_manager" type="spawner"
            respawn="false" output="screen"
            args="rear_joint_publisher"/>
        <node name="controller_spawner" pkg="controller_manager" type="spawner"
            respawn="false" output="screen"
            args="rear_velocity_controller --wait-for rear_joint_publisher"/>
    </group>
</launch>