<launch>
    <rosparam file="$(find open_mower)/params/hardware_specific/$(env OM_MOWER)/odrive.yaml" command="load" subst_value="true"/>
    <!--rosparam file="$(env PARAMS_PATH)/odrive.yaml" command="load" subst_value="true"/-->

    <!--node name="odrive_can" pkg="odrive_can" type="odrive_can_node" output="screen"
        respawn="true" respawn_delay="2.0"/-->

    <!-- CAN communication + hardware interface + control loop -->
    <node name="odrive_driver" pkg="odrive_ros_control" type="odrive_ros_control_node"
        respawn="true" output="screen"/>

    <!-- Front controllers in /front namespace -->
    <group ns="front">
        <remap from="/front/velocity_controller/cmd_vel" to="/cmd_vel_safe"/>
        <node name="front_controller_spawner" pkg="controller_manager" type="spawner"
            respawn="false" output="screen"
            args="--namespace / /front/joint_publisher /front/velocity_controller"/>
    </group>

    <!-- Rear controllers in /rear namespace -->
    <group ns="rear">
        <remap from="/rear/velocity_controller/cmd_vel" to="/cmd_vel_safe"/>
        <node name="rear_controller_spawner" pkg="controller_manager" type="spawner"
            respawn="false" output="screen"
            args="--namespace / /rear/joint_publisher /rear/velocity_controller"/>
    </group>
</launch>